
<div class="container-fluid">

<h2> List of all Digital Currencies we Offer </h2>
<br>
<div class="top">
  <br>
<h2> COIN </h2>
</div>
<% bitmofObjects.forEach((onebitmof) => { %>
  <div class="row">
    <div class="coins">
   <h3><%= onebitmof.coinTicker  %> </h3>
  <img id='logo' src = "<%= onebitmof.coinImage %>"> </img>
</div>
<div class="coins">
   <h3> <%= onebitmof.coinName %>  </h3>
     <br>
   </div>
   <div class="coins">
        Founded in: <h3> <%= onebitmof.coinDate %></h3>
       <br>
     </div>
     <div class="coins">
       by: <h3><%= onebitmof.coinFounder %></h3>
     </div>
        <hr>
        <% });  %>
      <hr>
      <% pricesObjects.forEach((onebitmof) => { %>
       <h3> <%= onebitmof.coinPrice %> </h3>
    <% }); %>
  </div>
</div>

</div>

<!-- <div class="container">
  <div class="row">
    <div class="col flex-unordered">
      First, but unordered
    </div>
    <div class="col flex-last">
      Second, but last
    </div>
    <div class="col flex-first">
      Third, but first
    </div>
  </div>
</div> -->
